*.tgz

secret/
*secret.yaml

# Special case for sample-app, we track the sample local-secret.values.dec.yaml,
# but not tracking local specific local-secret.values.yaml.
sample-app/local-secret.values.yaml

helm-chart/local-secret.values.dec.yaml

charts/
Chart.lock
helm-chart/templated.yaml

repo-server/gitops-tools
